--
-- PostgreSQL database dump
--

\restrict djPf8rWbFG4JxT2Rfst9e7b2Qn4AMcoywboesNpRSHjBnWLemOCSJomew4EJlgx

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: dispositions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dispositions (
    id bigint NOT NULL,
    letter_id bigint NOT NULL,
    parent_disposition_id bigint,
    from_name character varying(150) DEFAULT 'Sekretaris Jenderal'::character varying NOT NULL,
    to_unit_id bigint,
    to_name character varying(150),
    instruction text NOT NULL,
    due_date date,
    status character varying(50) DEFAULT 'Didisposisikan'::character varying NOT NULL,
    follow_up_note text,
    is_koordinator boolean DEFAULT false NOT NULL,
    created_by bigint,
    disposition_date timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.dispositions OWNER TO postgres;

--
-- Name: dispositions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dispositions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.dispositions_id_seq OWNER TO postgres;

--
-- Name: dispositions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dispositions_id_seq OWNED BY public.dispositions.id;


--
-- Name: letter_categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.letter_categories (
    id bigint NOT NULL,
    category_name character varying(100) NOT NULL,
    description text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.letter_categories OWNER TO postgres;

--
-- Name: letter_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.letter_categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.letter_categories_id_seq OWNER TO postgres;

--
-- Name: letter_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.letter_categories_id_seq OWNED BY public.letter_categories.id;


--
-- Name: letter_number_availability_batches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.letter_number_availability_batches (
    id bigint NOT NULL,
    type_id bigint NOT NULL,
    number_year smallint NOT NULL,
    purpose character varying(30) NOT NULL,
    start_sequence integer NOT NULL,
    end_sequence integer NOT NULL,
    period_month date,
    letter_date date,
    unit_id bigint,
    unit_text character varying(150),
    pic_name character varying(150),
    status character varying(30) DEFAULT 'active'::character varying NOT NULL,
    notes text,
    created_by bigint,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.letter_number_availability_batches OWNER TO postgres;

--
-- Name: letter_number_availability_batches_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.letter_number_availability_batches_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.letter_number_availability_batches_id_seq OWNER TO postgres;

--
-- Name: letter_number_availability_batches_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.letter_number_availability_batches_id_seq OWNED BY public.letter_number_availability_batches.id;


--
-- Name: letter_number_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.letter_number_types (
    id bigint NOT NULL,
    type_code character varying(50) NOT NULL,
    type_name character varying(150) NOT NULL,
    workbook_name character varying(120) NOT NULL,
    uses_security_access boolean DEFAULT false NOT NULL,
    extra_field character varying(50) DEFAULT 'scan_result'::character varying NOT NULL,
    number_pattern character varying(255) NOT NULL,
    sequence_padding smallint DEFAULT '4'::smallint NOT NULL,
    default_signer_code character varying(20) DEFAULT '1'::character varying NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    display_order integer DEFAULT 0 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.letter_number_types OWNER TO postgres;

--
-- Name: letter_number_types_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.letter_number_types_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.letter_number_types_id_seq OWNER TO postgres;

--
-- Name: letter_number_types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.letter_number_types_id_seq OWNED BY public.letter_number_types.id;


--
-- Name: letter_numbers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.letter_numbers (
    id bigint NOT NULL,
    type_id bigint NOT NULL,
    number_year smallint NOT NULL,
    sequence_number integer NOT NULL,
    status character varying(30) DEFAULT 'available'::character varying NOT NULL,
    signer_code character varying(20) DEFAULT '1'::character varying NOT NULL,
    security_access character varying(20),
    classification_code character varying(80),
    month_number smallint,
    number_text character varying(255),
    incoming_date date,
    unit_id bigint,
    processing_unit_text character varying(150),
    signatory character varying(150),
    request_type character varying(100),
    destination character varying(255),
    letter_date date,
    subject text,
    technical_officer character varying(150),
    scan_result character varying(255),
    nd_pengantar character varying(255),
    linked_letter_id bigint,
    reserved_for character varying(150),
    reserved_at timestamp(0) without time zone,
    used_at timestamp(0) without time zone,
    created_by bigint,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.letter_numbers OWNER TO postgres;

--
-- Name: letter_numbers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.letter_numbers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.letter_numbers_id_seq OWNER TO postgres;

--
-- Name: letter_numbers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.letter_numbers_id_seq OWNED BY public.letter_numbers.id;


--
-- Name: letter_relations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.letter_relations (
    id bigint NOT NULL,
    source_letter_id bigint NOT NULL,
    target_letter_id bigint NOT NULL,
    relation_type character varying(50) DEFAULT 'TERKAIT_DENGAN'::character varying NOT NULL,
    notes text,
    created_by bigint,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.letter_relations OWNER TO postgres;

--
-- Name: letter_relations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.letter_relations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.letter_relations_id_seq OWNER TO postgres;

--
-- Name: letter_relations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.letter_relations_id_seq OWNED BY public.letter_relations.id;


--
-- Name: letter_status_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.letter_status_logs (
    id bigint NOT NULL,
    letter_id bigint NOT NULL,
    status character varying(100) NOT NULL,
    "position" character varying(150),
    note text,
    changed_by character varying(100) DEFAULT 'Sistem'::character varying NOT NULL,
    changed_at timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.letter_status_logs OWNER TO postgres;

--
-- Name: letter_status_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.letter_status_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.letter_status_logs_id_seq OWNER TO postgres;

--
-- Name: letter_status_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.letter_status_logs_id_seq OWNED BY public.letter_status_logs.id;


--
-- Name: letters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.letters (
    id bigint NOT NULL,
    tracking_code character varying(50) NOT NULL,
    agenda_number character varying(50),
    letter_number character varying(150),
    letter_type character varying(20) DEFAULT 'in'::character varying NOT NULL,
    letter_source character varying(50) DEFAULT 'Manual'::character varying NOT NULL,
    process_lane character varying(30) DEFAULT 'signature'::character varying NOT NULL,
    sender_unit character varying(150),
    category_id bigint,
    sender_name character varying(150),
    sender_phone character varying(50),
    recipient_unit_id bigint,
    subject text NOT NULL,
    letter_date date,
    received_date date,
    priority character varying(30) DEFAULT 'normal'::character varying NOT NULL,
    security_level character varying(30) DEFAULT 'Biasa'::character varying NOT NULL,
    status character varying(100) DEFAULT 'Dokumen Diterima dan Diinput'::character varying NOT NULL,
    current_position character varying(150) DEFAULT 'Tata Usaha'::character varying NOT NULL,
    requested_actions text,
    notes text,
    attachment_path character varying(255),
    created_by bigint,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    archive_classification_code character varying(100),
    signatory_name character varying(150),
    technical_officer character varying(150),
    cover_letter_number character varying(150)
);


ALTER TABLE public.letters OWNER TO postgres;

--
-- Name: letters_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.letters_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.letters_id_seq OWNER TO postgres;

--
-- Name: letters_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.letters_id_seq OWNED BY public.letters.id;


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    migration character varying(191) NOT NULL,
    batch integer NOT NULL
);


ALTER TABLE public.migrations OWNER TO postgres;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.migrations_id_seq OWNER TO postgres;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: model_has_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.model_has_permissions (
    permission_id bigint NOT NULL,
    model_type character varying(191) NOT NULL,
    model_id bigint NOT NULL
);


ALTER TABLE public.model_has_permissions OWNER TO postgres;

--
-- Name: model_has_roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.model_has_roles (
    role_id bigint NOT NULL,
    model_type character varying(191) NOT NULL,
    model_id bigint NOT NULL
);


ALTER TABLE public.model_has_roles OWNER TO postgres;

--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.password_reset_tokens (
    email character varying(191) NOT NULL,
    token character varying(191) NOT NULL,
    created_at timestamp(0) without time zone
);


ALTER TABLE public.password_reset_tokens OWNER TO postgres;

--
-- Name: permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.permissions (
    id bigint NOT NULL,
    name character varying(191) NOT NULL,
    guard_name character varying(191) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.permissions OWNER TO postgres;

--
-- Name: permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.permissions_id_seq OWNER TO postgres;

--
-- Name: permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.permissions_id_seq OWNED BY public.permissions.id;


--
-- Name: role_has_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role_has_permissions (
    permission_id bigint NOT NULL,
    role_id bigint NOT NULL
);


ALTER TABLE public.role_has_permissions OWNER TO postgres;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.roles (
    id bigint NOT NULL,
    name character varying(191) NOT NULL,
    guard_name character varying(191) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.roles OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_id_seq OWNER TO postgres;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sessions (
    id character varying(191) NOT NULL,
    user_id bigint,
    ip_address character varying(45),
    user_agent text,
    payload text NOT NULL,
    last_activity integer NOT NULL
);


ALTER TABLE public.sessions OWNER TO postgres;

--
-- Name: units; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.units (
    id bigint NOT NULL,
    unit_name character varying(150) NOT NULL,
    pic_name character varying(150),
    phone character varying(50),
    email character varying(100),
    address text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.units OWNER TO postgres;

--
-- Name: units_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.units_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.units_id_seq OWNER TO postgres;

--
-- Name: units_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.units_id_seq OWNED BY public.units.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    username character varying(191) NOT NULL,
    name character varying(191),
    email character varying(191),
    password character varying(191) NOT NULL,
    role character varying(191) DEFAULT 'admin'::character varying NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    remember_token character varying(100),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: dispositions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dispositions ALTER COLUMN id SET DEFAULT nextval('public.dispositions_id_seq'::regclass);


--
-- Name: letter_categories id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letter_categories ALTER COLUMN id SET DEFAULT nextval('public.letter_categories_id_seq'::regclass);


--
-- Name: letter_number_availability_batches id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letter_number_availability_batches ALTER COLUMN id SET DEFAULT nextval('public.letter_number_availability_batches_id_seq'::regclass);


--
-- Name: letter_number_types id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letter_number_types ALTER COLUMN id SET DEFAULT nextval('public.letter_number_types_id_seq'::regclass);


--
-- Name: letter_numbers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letter_numbers ALTER COLUMN id SET DEFAULT nextval('public.letter_numbers_id_seq'::regclass);


--
-- Name: letter_relations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letter_relations ALTER COLUMN id SET DEFAULT nextval('public.letter_relations_id_seq'::regclass);


--
-- Name: letter_status_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letter_status_logs ALTER COLUMN id SET DEFAULT nextval('public.letter_status_logs_id_seq'::regclass);


--
-- Name: letters id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letters ALTER COLUMN id SET DEFAULT nextval('public.letters_id_seq'::regclass);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: permissions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions ALTER COLUMN id SET DEFAULT nextval('public.permissions_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: units id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.units ALTER COLUMN id SET DEFAULT nextval('public.units_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: dispositions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dispositions (id, letter_id, parent_disposition_id, from_name, to_unit_id, to_name, instruction, due_date, status, follow_up_note, is_koordinator, created_by, disposition_date, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: letter_categories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: letter_number_availability_batches; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.letter_number_availability_batches (id, type_id, number_year, purpose, start_sequence, end_sequence, period_month, letter_date, unit_id, unit_text, pic_name, status, notes, created_by, created_at, updated_at) FROM stdin;
2	1	2026	available	1	50	2026-08-28	\N	\N	\N	\N	active	\N	1	2026-08-28 06:23:57	2026-08-28 06:23:57
\.


--
-- Data for Name: letter_number_types; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: letter_numbers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.letter_numbers (id, type_id, number_year, sequence_number, status, signer_code, security_access, classification_code, month_number, number_text, incoming_date, unit_id, processing_unit_text, signatory, request_type, destination, letter_date, subject, technical_officer, scan_result, nd_pengantar, linked_letter_id, reserved_for, reserved_at, used_at, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: letter_relations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.letter_relations (id, source_letter_id, target_letter_id, relation_type, notes, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: letter_status_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.letter_status_logs (id, letter_id, status, "position", note, changed_by, changed_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: letters; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.letters (id, tracking_code, agenda_number, letter_number, letter_type, letter_source, process_lane, sender_unit, category_id, sender_name, sender_phone, recipient_unit_id, subject, letter_date, received_date, priority, security_level, status, current_position, requested_actions, notes, attachment_path, created_by, created_at, updated_at, archive_classification_code, signatory_name, technical_officer, cover_letter_number) FROM stdin;
\.


--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: model_has_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.model_has_permissions (permission_id, model_type, model_id) FROM stdin;
\.


--
-- Data for Name: model_has_roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.model_has_roles (role_id, model_type, model_id) FROM stdin;
1	App\\Models\\User	1
2	App\\Models\\User	2
3	App\\Models\\User	3
4	App\\Models\\User	4
\.


--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.password_reset_tokens (email, token, created_at) FROM stdin;
\.


--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: role_has_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.role_has_permissions (permission_id, role_id) FROM stdin;
1	1
2	1
3	1
4	1
5	1
6	1
7	1
8	1
9	1
10	1
11	1
12	1
13	1
14	1
15	1
16	1
17	1
18	1
1	2
2	2
3	2
4	2
5	2
6	2
7	2
8	2
9	2
10	2
12	2
18	2
1	3
2	3
4	3
6	3
7	3
8	3
9	3
10	3
12	3
18	3
1	4
9	4
11	4
12	4
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.roles (id, name, guard_name, created_at, updated_at) FROM stdin;
1	super_admin	web	2026-08-28 05:50:55	2026-08-28 05:50:55
2	admin	web	2026-08-28 05:50:55	2026-08-28 05:50:55
3	kasubbag	web	2026-08-28 05:50:55	2026-08-28 05:50:55
4	sekjen	web	2026-08-28 05:50:55	2026-08-28 05:50:55
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sessions (id, user_id, ip_address, user_agent, payload, last_activity) FROM stdin;
\.


--
-- Data for Name: units; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: dispositions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dispositions_id_seq', 1, false);


--
-- Name: letter_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.letter_categories_id_seq', 8, true);


--
-- Name: letter_number_availability_batches_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.letter_number_availability_batches_id_seq', 2, true);


--
-- Name: letter_number_types_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.letter_number_types_id_seq', 16, true);


--
-- Name: letter_numbers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.letter_numbers_id_seq', 100, true);


--
-- Name: letter_relations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.letter_relations_id_seq', 1, false);


--
-- Name: letter_status_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.letter_status_logs_id_seq', 2, true);


--
-- Name: letters_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.letters_id_seq', 2, true);


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.migrations_id_seq', 12, true);


--
-- Name: permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.permissions_id_seq', 18, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.roles_id_seq', 4, true);


--
-- Name: units_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.units_id_seq', 13, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 4, true);


--
-- Name: dispositions dispositions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dispositions
    ADD CONSTRAINT dispositions_pkey PRIMARY KEY (id);


--
-- Name: letter_categories letter_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letter_categories
    ADD CONSTRAINT letter_categories_pkey PRIMARY KEY (id);


--
-- Name: letter_number_availability_batches letter_number_availability_batches_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letter_number_availability_batches
    ADD CONSTRAINT letter_number_availability_batches_pkey PRIMARY KEY (id);


--
-- Name: letter_number_types letter_number_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letter_number_types
    ADD CONSTRAINT letter_number_types_pkey PRIMARY KEY (id);


--
-- Name: letter_number_types letter_number_types_type_code_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letter_number_types
    ADD CONSTRAINT letter_number_types_type_code_unique UNIQUE (type_code);


--
-- Name: letter_numbers letter_numbers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letter_numbers
    ADD CONSTRAINT letter_numbers_pkey PRIMARY KEY (id);


--
-- Name: letter_relations letter_relations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letter_relations
    ADD CONSTRAINT letter_relations_pkey PRIMARY KEY (id);


--
-- Name: letter_status_logs letter_status_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letter_status_logs
    ADD CONSTRAINT letter_status_logs_pkey PRIMARY KEY (id);


--
-- Name: letters letters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letters
    ADD CONSTRAINT letters_pkey PRIMARY KEY (id);


--
-- Name: letters letters_tracking_code_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letters
    ADD CONSTRAINT letters_tracking_code_unique UNIQUE (tracking_code);


--
-- Name: migrations migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_pkey PRIMARY KEY (id);


--
-- Name: model_has_permissions model_has_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.model_has_permissions
    ADD CONSTRAINT model_has_permissions_pkey PRIMARY KEY (permission_id, model_id, model_type);


--
-- Name: model_has_roles model_has_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.model_has_roles
    ADD CONSTRAINT model_has_roles_pkey PRIMARY KEY (role_id, model_id, model_type);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (email);


--
-- Name: permissions permissions_name_guard_name_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_name_guard_name_unique UNIQUE (name, guard_name);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: role_has_permissions role_has_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_has_permissions
    ADD CONSTRAINT role_has_permissions_pkey PRIMARY KEY (permission_id, role_id);


--
-- Name: roles roles_name_guard_name_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_guard_name_unique UNIQUE (name, guard_name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: units units_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.units
    ADD CONSTRAINT units_pkey PRIMARY KEY (id);


--
-- Name: letter_relations uq_source_target_relation; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letter_relations
    ADD CONSTRAINT uq_source_target_relation UNIQUE (source_letter_id, target_letter_id, relation_type);


--
-- Name: letter_numbers uq_type_year_sequence; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letter_numbers
    ADD CONSTRAINT uq_type_year_sequence UNIQUE (type_id, number_year, sequence_number);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_unique UNIQUE (username);


--
-- Name: dispositions_letter_id_status_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX dispositions_letter_id_status_index ON public.dispositions USING btree (letter_id, status);


--
-- Name: letter_number_availability_batches_type_id_number_year_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX letter_number_availability_batches_type_id_number_year_index ON public.letter_number_availability_batches USING btree (type_id, number_year);


--
-- Name: letter_numbers_type_id_number_year_status_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX letter_numbers_type_id_number_year_status_index ON public.letter_numbers USING btree (type_id, number_year, status);


--
-- Name: letter_status_logs_letter_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX letter_status_logs_letter_id_index ON public.letter_status_logs USING btree (letter_id);


--
-- Name: letters_agenda_number_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX letters_agenda_number_index ON public.letters USING btree (agenda_number);


--
-- Name: letters_process_lane_status_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX letters_process_lane_status_index ON public.letters USING btree (process_lane, status);


--
-- Name: letters_tracking_code_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX letters_tracking_code_index ON public.letters USING btree (tracking_code);


--
-- Name: model_has_permissions_model_id_model_type_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX model_has_permissions_model_id_model_type_index ON public.model_has_permissions USING btree (model_id, model_type);


--
-- Name: model_has_roles_model_id_model_type_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX model_has_roles_model_id_model_type_index ON public.model_has_roles USING btree (model_id, model_type);


--
-- Name: sessions_last_activity_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sessions_last_activity_index ON public.sessions USING btree (last_activity);


--
-- Name: sessions_user_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sessions_user_id_index ON public.sessions USING btree (user_id);


--
-- Name: dispositions dispositions_created_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dispositions
    ADD CONSTRAINT dispositions_created_by_foreign FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: dispositions dispositions_letter_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dispositions
    ADD CONSTRAINT dispositions_letter_id_foreign FOREIGN KEY (letter_id) REFERENCES public.letters(id) ON DELETE CASCADE;


--
-- Name: dispositions dispositions_parent_disposition_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dispositions
    ADD CONSTRAINT dispositions_parent_disposition_id_foreign FOREIGN KEY (parent_disposition_id) REFERENCES public.dispositions(id) ON DELETE CASCADE;


--
-- Name: dispositions dispositions_to_unit_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dispositions
    ADD CONSTRAINT dispositions_to_unit_id_foreign FOREIGN KEY (to_unit_id) REFERENCES public.units(id) ON DELETE SET NULL;


--
-- Name: letter_number_availability_batches letter_number_availability_batches_created_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letter_number_availability_batches
    ADD CONSTRAINT letter_number_availability_batches_created_by_foreign FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: letter_number_availability_batches letter_number_availability_batches_type_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letter_number_availability_batches
    ADD CONSTRAINT letter_number_availability_batches_type_id_foreign FOREIGN KEY (type_id) REFERENCES public.letter_number_types(id) ON DELETE CASCADE;


--
-- Name: letter_number_availability_batches letter_number_availability_batches_unit_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letter_number_availability_batches
    ADD CONSTRAINT letter_number_availability_batches_unit_id_foreign FOREIGN KEY (unit_id) REFERENCES public.units(id) ON DELETE SET NULL;


--
-- Name: letter_numbers letter_numbers_created_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letter_numbers
    ADD CONSTRAINT letter_numbers_created_by_foreign FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: letter_numbers letter_numbers_type_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letter_numbers
    ADD CONSTRAINT letter_numbers_type_id_foreign FOREIGN KEY (type_id) REFERENCES public.letter_number_types(id) ON DELETE CASCADE;


--
-- Name: letter_numbers letter_numbers_unit_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letter_numbers
    ADD CONSTRAINT letter_numbers_unit_id_foreign FOREIGN KEY (unit_id) REFERENCES public.units(id) ON DELETE SET NULL;


--
-- Name: letter_relations letter_relations_created_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letter_relations
    ADD CONSTRAINT letter_relations_created_by_foreign FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: letter_relations letter_relations_source_letter_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letter_relations
    ADD CONSTRAINT letter_relations_source_letter_id_foreign FOREIGN KEY (source_letter_id) REFERENCES public.letters(id) ON DELETE CASCADE;


--
-- Name: letter_relations letter_relations_target_letter_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letter_relations
    ADD CONSTRAINT letter_relations_target_letter_id_foreign FOREIGN KEY (target_letter_id) REFERENCES public.letters(id) ON DELETE CASCADE;


--
-- Name: letter_status_logs letter_status_logs_letter_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letter_status_logs
    ADD CONSTRAINT letter_status_logs_letter_id_foreign FOREIGN KEY (letter_id) REFERENCES public.letters(id) ON DELETE CASCADE;


--
-- Name: letters letters_category_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letters
    ADD CONSTRAINT letters_category_id_foreign FOREIGN KEY (category_id) REFERENCES public.letter_categories(id) ON DELETE SET NULL;


--
-- Name: letters letters_created_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letters
    ADD CONSTRAINT letters_created_by_foreign FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: letters letters_recipient_unit_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.letters
    ADD CONSTRAINT letters_recipient_unit_id_foreign FOREIGN KEY (recipient_unit_id) REFERENCES public.units(id) ON DELETE SET NULL;


--
-- Name: model_has_permissions model_has_permissions_permission_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.model_has_permissions
    ADD CONSTRAINT model_has_permissions_permission_id_foreign FOREIGN KEY (permission_id) REFERENCES public.permissions(id) ON DELETE CASCADE;


--
-- Name: model_has_roles model_has_roles_role_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.model_has_roles
    ADD CONSTRAINT model_has_roles_role_id_foreign FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: role_has_permissions role_has_permissions_permission_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_has_permissions
    ADD CONSTRAINT role_has_permissions_permission_id_foreign FOREIGN KEY (permission_id) REFERENCES public.permissions(id) ON DELETE CASCADE;


--
-- Name: role_has_permissions role_has_permissions_role_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role_has_permissions
    ADD CONSTRAINT role_has_permissions_role_id_foreign FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict djPf8rWbFG4JxT2Rfst9e7b2Qn4AMcoywboesNpRSHjBnWLemOCSJomew4EJlgx

